.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.95);

  h1 {
    font-family: $font-header;
    font-weight: 600;
    font-size: 28px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    margin: 24px 0;
  }

  .clearFilterButton {
    padding: 0 20px;
    color: #999;
    border: 0;
    background: none;
    outline: none;

    &:hover {
      color: #222;
    }
  }

  .search {
    font-family: $font-header;
    margin: 20px 0;

    .form-group {
      margin: 0;
    }
  }
}

@media (max-width: 992px) {
  .header {
    h1 {
      font-size: 24px;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    h1 {
      font-size: 22px;
    }
  }
}
